infra/nifi/flows/sumo-ol1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>531f71bc-015f-1000-11cb-fd630486e967</groupId>
  <name>sumo-ol1</name>
  <snippet>
    <processGroups>
      <id>1fb1ab54-e6aa-395a-0000-000000000000</id>
      <parentGroupId>bd95e76d-46e3-3ca7-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>8857af7f-c1df-3bdc-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>6afe681a-7bef-38f2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>f4f73588-9001-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9260b572-434b-3037-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>f4f73588-9001-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>df571735-1f8f-3011-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a2c8f080-7853-35de-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>6afe681a-7bef-38f2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>incompatible</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>df571735-1f8f-3011-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b6f585b1-4c3c-32c7-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>6afe681a-7bef-38f2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>unsupported content</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>3a890cfe-e730-3476-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>faf19769-6d05-38b4-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>3a890cfe-e730-3476-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>45800d43-73a1-34b4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>61cff977-c889-32c7-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>df571735-1f8f-3011-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1fb1ab54-e6aa-395a-0000-000000000000</groupId>
            <id>3a890cfe-e730-3476-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>df571735-1f8f-3011-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <position>
            <x>1195.5623474121094</x>
            <y>464.3683567047119</y>
          </position>
          <bundle>
            <artifact>nifi-kite-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop configuration files</key>
                <value>
                  <name>Hadoop configuration files</name>
                </value>
              </entry>
              <entry>
                <key>Record schema</key>
                <value>
                  <name>Record schema</name>
                </value>
              </entry>
              <entry>
                <key>CSV charset</key>
                <value>
                  <name>CSV charset</name>
                </value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>
                  <name>CSV delimiter</name>
                </value>
              </entry>
              <entry>
                <key>CSV quote character</key>
                <value>
                  <name>CSV quote character</name>
                </value>
              </entry>
              <entry>
                <key>CSV escape character</key>
                <value>
                  <name>CSV escape character</name>
                </value>
              </entry>
              <entry>
                <key>Use CSV header line</key>
                <value>
                  <name>Use CSV header line</name>
                </value>
              </entry>
              <entry>
                <key>Lines to skip</key>
                <value>
                  <name>Lines to skip</name>
                </value>
              </entry>
              <entry>
                <key>kite-compression-type</key>
                <value>
                  <name>kite-compression-type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop configuration files</key>
              </entry>
              <entry>
                <key>Record schema</key>
                <value>${inferred.avro.schema}</value>
              </entry>
              <entry>
                <key>CSV charset</key>
                <value>utf8</value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>,</value>
              </entry>
              <entry>
                <key>CSV quote character</key>
                <value>"</value>
              </entry>
              <entry>
                <key>CSV escape character</key>
                <value>\</value>
              </entry>
              <entry>
                <key>Use CSV header line</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Lines to skip</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kite-compression-type</key>
                <value>SNAPPY</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertCSVToAvro</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>incompatible</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
        </processors>
        <processors>
          <id>f4f73588-9001-3ed2-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <position>
            <x>1121.7328796386719</x>
            <y>758.5723361968994</y>
          </position>
          <bundle>
            <artifact>nifi-hive-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>hive-stream-metastore-uri</key>
                <value>
                  <name>hive-stream-metastore-uri</name>
                </value>
              </entry>
              <entry>
                <key>hive-config-resources</key>
                <value>
                  <name>hive-config-resources</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-database-name</key>
                <value>
                  <name>hive-stream-database-name</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-table-name</key>
                <value>
                  <name>hive-stream-table-name</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-partition-cols</key>
                <value>
                  <name>hive-stream-partition-cols</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-autocreate-partition</key>
                <value>
                  <name>hive-stream-autocreate-partition</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-max-open-connections</key>
                <value>
                  <name>hive-stream-max-open-connections</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-heartbeat-interval</key>
                <value>
                  <name>hive-stream-heartbeat-interval</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-transactions-per-batch</key>
                <value>
                  <name>hive-stream-transactions-per-batch</name>
                </value>
              </entry>
              <entry>
                <key>hive-stream-records-per-transaction</key>
                <value>
                  <name>hive-stream-records-per-transaction</name>
                </value>
              </entry>
              <entry>
                <key>rollback-on-failure</key>
                <value>
                  <name>rollback-on-failure</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>hive-stream-metastore-uri</key>
                <value>thrift://hive-metastore:9083</value>
              </entry>
              <entry>
                <key>hive-config-resources</key>
                <value>/opt/datafiles/nifi/hive-site.xml</value>
              </entry>
              <entry>
                <key>hive-stream-database-name</key>
                <value>default</value>
              </entry>
              <entry>
                <key>hive-stream-table-name</key>
                <value>olympics</value>
              </entry>
              <entry>
                <key>hive-stream-partition-cols</key>
              </entry>
              <entry>
                <key>hive-stream-autocreate-partition</key>
                <value>true</value>
              </entry>
              <entry>
                <key>hive-stream-max-open-connections</key>
                <value>8</value>
              </entry>
              <entry>
                <key>hive-stream-heartbeat-interval</key>
                <value>60</value>
              </entry>
              <entry>
                <key>hive-stream-transactions-per-batch</key>
                <value>100</value>
              </entry>
              <entry>
                <key>hive-stream-records-per-transaction</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>rollback-on-failure</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutHiveStreaming</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.hive.PutHiveStreaming</type>
        </processors>
        <processors>
          <id>3a890cfe-e730-3476-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <position>
            <x>1163.5092468261719</x>
            <y>235.21566653251648</y>
          </position>
          <bundle>
            <artifact>nifi-kite-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Schema Output Destination</key>
                <value>
                  <name>Schema Output Destination</name>
                </value>
              </entry>
              <entry>
                <key>Input Content Type</key>
                <value>
                  <name>Input Content Type</name>
                </value>
              </entry>
              <entry>
                <key>CSV Header Definition</key>
                <value>
                  <name>CSV Header Definition</name>
                </value>
              </entry>
              <entry>
                <key>Get CSV Header Definition From Data</key>
                <value>
                  <name>Get CSV Header Definition From Data</name>
                </value>
              </entry>
              <entry>
                <key>CSV Header Line Skip Count</key>
                <value>
                  <name>CSV Header Line Skip Count</name>
                </value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>
                  <name>CSV delimiter</name>
                </value>
              </entry>
              <entry>
                <key>CSV Escape String</key>
                <value>
                  <name>CSV Escape String</name>
                </value>
              </entry>
              <entry>
                <key>CSV Quote String</key>
                <value>
                  <name>CSV Quote String</name>
                </value>
              </entry>
              <entry>
                <key>Pretty Avro Output</key>
                <value>
                  <name>Pretty Avro Output</name>
                </value>
              </entry>
              <entry>
                <key>Avro Record Name</key>
                <value>
                  <name>Avro Record Name</name>
                </value>
              </entry>
              <entry>
                <key>Number Of Records To Analyze</key>
                <value>
                  <name>Number Of Records To Analyze</name>
                </value>
              </entry>
              <entry>
                <key>Charset</key>
                <value>
                  <name>Charset</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Schema Output Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Input Content Type</key>
                <value>csv</value>
              </entry>
              <entry>
                <key>CSV Header Definition</key>
                <value>City,Edition,Sport,sub_sport,Athlete,country,Gender,Event,Event_gender,Medal</value>
              </entry>
              <entry>
                <key>Get CSV Header Definition From Data</key>
                <value>false</value>
              </entry>
              <entry>
                <key>CSV Header Line Skip Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>,</value>
              </entry>
              <entry>
                <key>CSV Escape String</key>
                <value>\</value>
              </entry>
              <entry>
                <key>CSV Quote String</key>
                <value>"</value>
              </entry>
              <entry>
                <key>Pretty Avro Output</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Avro Record Name</key>
                <value>Olympics</value>
              </entry>
              <entry>
                <key>Number Of Records To Analyze</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Charset</key>
                <value>UTF-8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InferAvroSchema</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unsupported content</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
          <id>45800d43-73a1-34b4-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <position>
            <x>462.9522399902344</x>
            <y>223.0</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Input Directory</key>
                <value>
                  <name>Input Directory</name>
                </value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>
                  <name>File Filter</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter</key>
                <value>
                  <name>Path Filter</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>
                  <name>Keep Source File</name>
                </value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>
                  <name>Recurse Subdirectories</name>
                </value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>
                  <name>Polling Interval</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>
                  <name>Ignore Hidden Files</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>
                  <name>Minimum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
                <value>
                  <name>Maximum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>
                  <name>Minimum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
                <value>
                  <name>Maximum File Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Input Directory</key>
                <value>/opt/datafiles/nifi/olympics</value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>[^\.].*</value>
              </entry>
              <entry>
                <key>Path Filter</key>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
          <id>6afe681a-7bef-38f2-0000-000000000000</id>
          <parentGroupId>1fb1ab54-e6aa-395a-0000-000000000000</parentGroupId>
          <position>
            <x>444.0</x>
            <y>501.8172092437744</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/opt/datafiles/nifi/olympics_failed</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
      </contents>
      <name>Olympics</name>
    </processGroups>
  </snippet>
  <timestamp>10/26/2017 16:44:00 GMT</timestamp>
</template>